@{
    Layout = "~/Views/Shared/_LayoutHomePage1.cshtml";
}

<div class="container body-content WhiteBackgroundColor"
     ng-controller="app.search.SearchController as sc">

    <div ng-show="sc.showSearchPanel">
        <div class="row tbl-header">
            <br />
            <h2 class="section-title" style="padding-bottom:12px;">About PDP</h2>
        </div>
        <div class="center-block">
            <br /><br />
            <p>The Pesticide Data Program (PDP) was initiated in 1991 as part of a USDA-wide food safety initiative.  Since that time, PDP has tested over 110 commodities in the U.S. food supply for pesticide residues, including fresh and processed fruit and vegetables, baby food, grains and grain products, almonds, peanut butter, milk and dairy products, fish, beef, pork, poultry, eggs, honey, infant formula, bottled water, potable groundwater, and treated and ambient drinking water.  Using the most current laboratory methods, PDP has tested over 480 compounds (pesticides, metabolites, and isomers) including insecticides, fungicides, herbicides, and growth regulators.</p>
            <br />
            <p>This database contains over 2.6 million pesticide residue findings, including both positive detections and non-detects, for the 234,509 samples tested by PDP from 1994 thru 2014.  The 1991-1993 data are excluded because non-detects were not captured by PDP prior to 1994.</p>
            <br />
            <p>The PDP 2015 data will be made available in this database when those data are officially released by USDA-AMS, likely by the end of 2016 or early 2017.</p>
            <br /><br />


        </div>
    </div>

</div>

