@{
    Layout = "~/Views/Shared/_LayoutHomePage1.cshtml";
}

<div class="container body-content WhiteBackgroundColor"
     ng-controller="app.search.SearchController as sc">

    <div ng-show="sc.showSearchPanel">
        <div class="row tbl-header">
            <br />
            <h2 class="section-title" style="padding-bottom:12px;">Contact US </h2>
        </div>
        <div class="center-block">
            <br /><br />
            <B>
                USDA, Agricultural Marketing Service <br />
                Science and Technology Programs<br />
                Monitoring Programs Division<br />
                1400 Independence Avenue, SW<br />
                Room 0611 South, Stop 0276<br />
                Washington DC 20250<br /><br />

                Phone: 202-572-8169<br /><br />

                Email: amsmpo.data@ams.usda.gov
            </B><br /><br /><br /><br /><br />


        </div>
    </div>

</div>



