@{
    Layout = "~/Views/Shared/_LayoutHomePage1.cshtml";
}

<div class="container body-content WhiteBackgroundColor"
     ng-controller="app.search.SearchController as sc">

    <div ng-show="sc.showSearchPanel">
        <div class="row tbl-header">
            <br />
            <h2 class="section-title" style="padding-bottom:12px;">Help </h2>
        </div>
        <div class="center-block">
            <br /><br />
            <B>USER GUIDANCE FOR PDP DATABASE SEARCH</B>
            <br /><br /><br />
            Leave the check-mark next to Check All Commodities to include ALL commodities/products in the search.  Click to remove the check-mark next to Check All Commodities and then click check-marks next to one or more of the listed commodities to include selected commodities/products in the search.
            <br /><br />
            Leave the check-mark next to Check All Pesticides to include ALL pesticides in the search.  Click to remove the check-mark next to Check All Pesticides and then click check-marks next to one or more of the listed pesticides to include selected pesticides in the search.
            <br /><br />
            Leave the check-mark next to Check All Years to include ALL calendar-year surveys in the search.  Click to remove the check-mark next to Check All Years and then click check-marks next to one or more of the listed years to include selected years in the search.
            <br /><br />
            Only one Output Preference can be selected for the search.  This determines the format and content of the search results.  Select one of the five options shown on the Output Preference drop-down list.
            <br /><br />
            If the Analytical Results or Sample/Results output preference is selected, the Results Preference option is made available.  Select one of the three options shown on the Results Preference drop-down list.
            <br /><br />
            Click the [Search] push-button to launch the database search.

            <br /><br />


        </div>
    </div>

</div>


